@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
body .d3-tip {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 6px;
  color: white;
  padding: .5em;
  text-align: center;
}
section {
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
  width: auto;
}
section heading {
  text-align: center;
}
section svg {
  stroke: black;
  stroke-width: 1;
}
section .legend text,
section .x-axis text,
section .y-axis text {
  stroke-width: 0;
}
section .map {
  stroke-width: 0;
}
section .map rect:hover {
  stroke-width: 2;
}
